body{
	background:black;
	background-image: url("./img/background.png");
	margin: 0;
}

.tee{
	position: relative;
	width: 1920px;
	height: 1080px;
	}

#slides {
	position: absolute;
	display: none;
	width: 658px;
	height: 500px;	
	left: 630px;
	top: 291px;
	}

#slides_01 {
	position: absolute;
	display: none;
	width: 311px;
	height: 91px;
	left: 810px;
	top: 190px;	
	}

.container {
	margin: 0 auto;
}

.slidesjs-next.slidejs-navigation{
	left: 631px;
	top: 291px;
}
